footer {
	background-color: #101010;
	color: #FFF;
	margin-top: 40px;
	padding: 30px;

}
.footer-endereco, .footer-redes {
	display: inline-block;
	width: 50%;
	vertical-align: top;
} 
.footer-endereco address{
	margin: 0px;
}
.img-redes{
	display: inline-block;
	margin-top: 10px;
	margin-left: -8px;
}

.img-redes a:hover{
	cursor: pointer;
	text-decoration: none;
}
@media (max-width: 768px) and (min-width: 400px)
{
	.footer-endereco,.footer-redes {
		display: block;
		margin: 10px;
	}
	.footer-redes {
		margin-top:10px;
	}
}
@media (max-width: 400px){
	.footer-endereco, .footer-redes{
		display: block;
		width: 100%;
		margin-top: 10px;
	}
}