html>body>div.jumbotron{
    margin-top: 30px;
 }
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
h2,h1,h3,h4 {
	font-family: 'Work Sans', sans-serif !important;
	margin-bottom: 20px !important;
	letter-spacing: -1px;
}
@media (min-width: 768px){
	h2{
		font-size: 36px !important;
	}
}