html>body>div.jumbotron{
    margin-top: 30px;
 }
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
/* @media (max-width: 768px){
	 .slide-cel{
	 	display: inline; 
	 }
}
@media (min-width: 768px){
	.slide-cel{
		display: none;
	}
}