body{
	background-color: #f2f2f2;
}
.endereco{

	font-family: sans-serif,serif;
	font-size: 20px;
	margin-top: 5px;
}
h1{
	letter-spacing: -1px;
	margin-top: 0;
	padding:20px 0px;
	font-size: 42px;
	color:#212121;
	font-family: sans-serif,serif;
}
@media (max-width: 700px){

	.endereco{
		font-size: 16px;
		letter-spacing: -1px;
	}
	h1{
		font-size: 36px;
	}
}
@media (min-width: 900px){
	.mapa-desktop{
		width: 100%;
		padding-bottom: 51%;
	}
}
@media (min-width: 1220px){
	.mapa-desktop{
		width: 100%;
		padding-bottom: 42%;
	}
}
header{
	background-color: #CCC;
	padding-top:20px;
	padding-bottom: 20px;
	margin:20px 0px;
	width: 100%
}
.imagem{
	background-color: #00FF00;
	padding: 20px;
	color: #FFF;
	width: 25%;
}